.wrapper {
  width: 25rem;
  height: 23rem;
  background-color: inherit;
  padding: 0.4rem;
  background-color: #ebf2fa;
}
.form {
  background-color: inherit;
  padding: 2rem;
  width: 100%;
  height: 100%;
}
.form__errorMessage {
  height: 3rem;
  color: #0c2d48;
}
.form__title {
  color: #145da0;
}
.form__input {
  padding: 0.5rem;
}

