.header {
  display: flex;
  background-color: #0c2d48;
  height: 6rem;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}
.logo {
  display: flex;
}
.logo__img {
  width: 4.5rem;
}
.logo__h1 {
  color: white;
  padding-right: 2rem;
}
.nav {
  display: flex;
  justify-content: flex-end;
}
.nav__list {
  display: flex;
  list-style-type: none;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.nav__item {
  padding: 1rem;
}
.nav__link {
  text-decoration: none;
  color: #2e8bc0;
}
.nav__link:hover,
.nav__link--active {
  color: #b1d4e0;
}
.searchbar {
  margin-left: auto;
  width: 70rem;
  margin-right: auto;
}
